*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.shell{
    width: 400px;
    height: 400px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
    overflow: hidden;
}


.main-top2{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #555554;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}


.login_{
    font-size: 40px;
    font-weight: 900;
    margin: 40px;
    text-align: center;
    letter-spacing: 5px;
}
.input_{
    width: 60%;
    margin-bottom: 20px;
    outline: none;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    font: 900 16px '';
}

.ok-button{
    width: 20%;
    text-align: center;
    height: 40px;
    padding: 5px;
    font:  20px '';
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}



